@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
/* style */
.p-style{
    font-size: 1rem;
    font-weight: 300;
    line-height: 24px;
}
.tittle-style{
    font-size: 3rem;
font-weight: 600;
line-height: 72px;
letter-spacing: 0px;
}
/* header */
header{
    margin-top:0;
    width:100%;
    background-color:rgb(38, 70, 83);;
}
/* Here is a nav-section */
nav{
    width:85%;
    margin:0 auto;
    padding-top:42px;
    
    display: flex;
    justify-content: flex-end;
}
.nav-section ul{
    display: flex;
    align-items: center;
    
}
.nav-section ul li{
    list-style: none;
    margin-right:36px;

}
.nav-section ul li a{
    text-decoration: none;
    color:white;
    font-size: 1rem;
font-weight: 500;
line-height: 24px;

}
.login{
    padding: 10px 24px 10px 24px;
    margin-left:100px;
    border-radius: 5px;
background: rgb(231, 111, 81);
}
.menu-bar{
    display:none;
}
/* Here is a banner style */
.banner{
    width:85%;
    margin: 0 auto;
    margin-top:69px;
    display: flex;
    justify-content: space-between;
}
.banner-description{
    width:50%;
    display: flex;
    flex-direction: column;
    padding-top:40px;
    padding-right:100px;
    text-align: left;
}
.banner-description h1{
    color:white;
    margin-bottom:18px;
}
.banner-description button{
    margin-top: 21px;
    width:10vw;
    padding:10px;
    border-radius: 5px;
    color: white;
    border:none;
background: rgb(231, 111, 81);
}
.banner-image{
    
    width:40%;
    position:relative;

}
.banner-image img{
    width:100%;
}
.image{
    position: relative;
    z-index: 9;
}
.icon{
    position: relative;
   
    width:101px;
    left:66%;
    bottom:81%;
    height:80px
}
.icon img{
   width:100%;
}

/* Here is a featured section */
.featured{
    width:85%;
    margin:0 auto;
    margin-top:164px;
    text-align: center;
}
.featured-image-box{
    display: flex;
    justify-content: space-between;
    
    width:90%;
    margin:0 auto;
    margin-top:110px;

}
.featured-img img{
    width:100%;
}
.featured-img{
   width:25%

}
.featured-p{
    display: inline-block;
    color: rgb(231, 111, 81);
}
.featured-p p{
    font-weight: 600;
}
hr{
    border: 1px solid rgb(231, 111, 81);
    width:50%;
    margin:0 auto;
}
/* Here is latest section */
.latest-news{
        width:85%;
        margin:0 auto;
        margin-top:164px;
        text-align: center;
    
}
.latest-description{
    margin-bottom:47px;
}
.latest-card{
    display: flex;
   

}
.card{
    width:32%;
    margin-right:20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
    background: rgb(255, 255, 255);
      text-align: left;
}
.card p{
    margin-top:10px;
    margin-bottom:40px;
}
.card img{
    width:100%;
}
.card h3{
    font-size: 28px;
  font-weight: 600;
}
.card button{
    padding:15px;
    border: 1px solid rgb(231, 111, 81);
    border-radius: 5px;
    background: none;
    font-size: 18px;
font-weight: 500;
color: rgb(231, 111, 81);
}
.card button:first-child{
    background: rgb(231, 111, 81);
    color:white;
}
.card p{
    color: rgb(108, 108, 108);
}
/* Here is a clients section */
.clients{

        width:85%;
        margin:0 auto;
        margin-top:164px;
        text-align: center;
    

}
.clients-description{
    margin-bottom:52px;
}
.says{
    color: #E76F51;
}
.clients-box{
    display: flex;
    width:90%;
    margin:0 auto;
    
}
.clients-card img{
    width:100%;
}
.clients-card {
    width:32%;
    margin-right:44px;
    border-radius: 5px;
  border: 1px #DEDEDE;
 padding: 40px 35px;
 box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
    background: rgb(255, 255, 255);
 text-align:center;
}
.user{
    width:60%;
    margin:0 auto;
    margin-bottom:30px;
}
.clients-card p{
    margin-bottom:15px;
    color: #6C6C6C;
}
.clients-card h5{
    margin-bottom:15px;
}
.star{
    gap:5px;
    width:8%;
  margin-left:26%;
    display:flex;
    margin-bottom:15px;
    
}
/* Here is a question section */
.question{
    width:85%;
        margin:0 auto;
        margin-top:160px;
        text-align: center;
        
}
.question-description{
    margin-bottom:112px
}
.ask{
    color: #E76F51;
}
.question-box{
    display: flex;
    justify-content: space-between;
    
}
.question-img img{
    width:90%;
}
.question-img{
    width:30%;
    
}
.question-container{
    width:50%;
    display: flex;
    flex-direction: column;
    gap:13px; 
    
}
.question-content{
   
    border-radius: 5px;
   border: 1px solid #D5E5FB;
   background: #FFF;
   padding:20px 24px;
   text-align: left;
}
.content-1{
    height: 203px;
}
.content-1 p{
    padding-right:100px;
}

.he{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:8px;

}
.he h5{
    width:80%;

}
.question-content h5{
    color: #383838;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 28px;
    display: flex;
    justify-content: space-between;
}
.footer{
    margin-top:139px;
    color:#fff;
    display: flex;
    align-items: center;
    padding: 56px 165px 84px 165px;
    background-color: rgba(11, 13, 23, 1);
}
.footer-y{
    width:100%;
    display: flex;
    justify-content: space-between;
    
}

.footer-1{
    display: flex;
    gap:24px;
    margin-bottom:12px;
}
.footer-2{
    display:flex;
    gap:24px;
    margin-bottom:24px;
}
.footer-img img{
    width:85%;
}
.footer-img{
    width:20%;
    text-align:left;
    display: flex;
    flex-direction: column;
    gap:16px;
    
}
.footer-4{
    display:none
}


@media screen and (max-width:656px){
    .p-style{
        font-size:0.8rem;
    }
   .menu-bar{
    display: flex;
   }
   .nav-section{
    display: none;
   }
   .banner {
    flex-direction: column;
}
.tittle-style{
    line-height: 50px;
}
.banner-description {
    width:100%;
    padding-top: 40px;
    padding-right:0px;
    
}
.banner-description button {
    width:30%;
}
.banner-image {
    padding-top:56px;
    width:100%; 
}
.icon ,hr {
    display: none;
}
.featured {
    width:100%;
    margin-top:107px;
   
}
.tittle-style {
    font-size: 1.5rem;
}
.featured-image-box {
    flex-direction: column;
    justify-content: center;
    
}

.featured-img {
    width:100%;
    margin-bottom: 115px;
    margin-right:0px;
    
}
.card {
    margin-bottom: 18px;
    width: 100%;
    margin-right: 0px;
}
.latest-news{
    margin-top:76px;
}
.latest-description {
    
    text-align: left;
    margin-bottom: 47px;
}
.latest-card {
    display: flex;
    flex-direction: column;
}
.card {
    margin-bottom: 18px;
    width: 100%;
    margin-right: 0px;
}
.clients {
    width: 85%;
    margin: 0 auto;
    margin-top: 82px;
    text-align: center;

}
.clients-box {
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
}
.clients-description h1{
    width:58%;
    margin:0 auto;
}
.clients-card {
    width: 100%;
    margin: 0 auto;
    margin-bottom:24px;
}
.question{
    margin-top:66px;
}
.question-description {
    /* border: 1px solid red; */
    margin-bottom: 23px;
    /* text-align: center; */
}
.question-description h1 {
    margin: 0 auto;
    width: 77%;
}
.question-box {
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
}
.question-img {
    margin-bottom: 74px;
    width: 100%;
}
.question-img img {
    width: 100%;
}
.question-container {
    width: 100%;
    display: flex;
    gap: 13px;
    flex-direction: column;
}
.content-1 {
    height: 100%;
}
.content-1 p{
    padding-right:0px;
}
.question-content h5 {
    color: #383838;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.question-content {
    padding: 16px;
    text-align: left;
}
.footer {
    margin-top: 139px;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0px; 
    background-color: rgba(11, 13, 23, 1);
}
.footer-1 {
    display: flex;
    gap: 24px;
    margin-bottom: 12px;
}
.footer-2 {
    grid-template-columns: 50px 50px 100px;
    flex-wrap: wrap;
    display: grid;
    gap: 24px;
    margin-bottom: 59px;
}
.footer-img {
    width: 50%;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.footer-y{
    flex-direction: column;
    padding:79px 0px 0px 16px;
}
.footer-3{
    display:none;
}
.footer-4{
    display: block;
    margin:0 auto;
    margin-top:78px;
    margin-bottom:58px;
}
}